<footer>        
  <p>&copy; <%= Date.today.strftime("%Y") %> Q7 Car Wash
  <span class="pull-right muted">HTML5 and CSS3 compatible web browsers recommended (eg. Firefox 4+, Chrome 10+, IE9+)</span></p>
</footer>